* text=auto

*.csv text eol=lf
*.html text eol=lf
*.ipynb text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf

*.docx binary
*.jpg binary
*.m4a binary
*.mobi binary
*.mp4 binary
*.pdf binary
*.png binary
*.pptx binary
*.xls binary
*.xlsx binary
*.zip binary
